import("TraMineR", "methods", "graphics", "RColorBrewer", "utils", "stats")

exportClasses(
	"pstree",
	"pstree.summary"
)

exportMethods(
	"plot",
	"print",
	"pstree",
	"pstreemc",
	## "str",
	"summary",
	"merge",
	"prune",
	"predict",
	"sim",
	"predictmc",
	"generate",
	"logLik"
)

export(
	"nodelist",
	"seqcprob",
	"query",
	"impute",
	## "seqpdplot",
	"seqnspplot",
	"seqprobplot"
)






