importFrom(graphics, plot)
importFrom(stats, predict)
importFrom(stats, logLik)
## importMethodsFrom(stats4, logLik)
importMethodsFrom(stats4, AIC)

exportMethods(
	"cprob",
	"generate",
	"logLik",
	"merge",
	"plot",
	"pmine",
	"ppplot",
	"predict",
	"print",
	"prune",
	"pstree",
	"query",
	"subtree",
	"summary",
	"tune"
)

export(
	"AIC",
	"seqpqplot"
)






