importFrom(graphics, plot)
importFrom(stats, predict)
importFrom(stats, logLik)
## importMethodsFrom(stats4, logLik)
importMethodsFrom(stats4, AIC)

exportMethods(
	"generate",
	"logLik",
	"merge",
	"plot",
	"ppplot",
	"predict",
	"print",
	"prune",
	"pstree",
	"query",
	"sim",
	"summary",
	"tune"
)

export(
	"AIC",
	"seqcprob",
	"impute",
	## "seqpdplot",
	"seqprobplot"
)






